*{
    margin: 0;
    padding: 0;
}
#header{
    background: linear-gradient(0deg, #e5e4df, #f4f3ee);
    overflow: auto;
}
#buttons{
    color: black;
    width: 300px;
    margin: 25px auto;
    font-size: 10px;
    
    
}
#buttons a{
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    
}
#iimage{
    float: left;
}
#face{
    position: absolute;
    right: 20px;
    top: 20px;
    padding-right: 15px;
    width: 30px;
    
}